<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AzurePublicVsideVssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" protocolVersion="3" />
    <add key="DevDivVsImpl" value="https://pkgs.dev.azure.com/devdiv/_packaging/vs-impl/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
